 #bag{
     width: 200px;
     height: 500px;
     margin: 0 auto;
     background: url(./img/bag.jpg) center no-repeat;
     background-size: 80%
 }

 #bag.burst{
     background-image: url(./img/bag-burst.jpg);
 }

#bag-health{
    width: 200px;
    border: 2px #000 solid;
    margin: 0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson;
}

#controls{
    width: 200px;
     margin: 0 auto;
} 

#controls button {
    margin-left: 20px;
}