<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://unpkg.com/vue@2.5.22"></script> -->
    <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1> Property </h1>
            <p> {{ name }}</p>
            <p>{{ job }}</p>
            <p> {{ greet('alex') }} </p>
            <button v-on:click="error = !error">Toggle Error</button>
            <button @click="success = !success">Toggle Success</button>
            <p v-if="error">网络了解错误：404</p>
            <p v-else-if="success">网络连接成功：200</p>
            <p v-if="success">网络连接成功：20000</p>
            <!-- <p v-show="error">网络了解错误：404</p>
            <p v-show="success">网络连接成功：200</p> -->
            <a v-bind:href = "website">百度</a>
            <p v-html = "jstag"></p>
            <input v-bind:value="website" type="text">
        </div>
        <script src="app.js"> </script>
    </body>
</html>
